<!-- <div class = "groceryRows">
    <div class = "groceryRow"> Current Quantity </div>
    <button class = "groceryRow incrementDecrement" (click)="decrement()"> - </button>
    <input class = "groceryInput" type="text" (input)="onInputChange($event)" maxlength="2" value="{{ itemAddRemoveCount }}">
    <button class = "groceryRow incrementDecrement" (click)="increment()"> + </button>
    <div class = "groceryRow">{{ groceryItem.get('itemName') }} </div>
    <div class = "groceryRow">{{ groceryItem.get('itemType') }} </div>
    <div class = "groceryRow">{{ groceryItem.get('itemPrice') }} </div>
    <button class = "groceryRow" (click)="addToCart()">Add To Cart</button>
</div> -->

<div>
dasdasd
</div>
